@CHARSET "UTF-8";

.subnav{
	border-color: #ddd;
	border-radius: 0px;
	border-width: 0 0 1px;
	
	box-shadow: 0 1px 0 #fff inset, 0 1px 5px rgba(0,0,0, 0.1);
}

.subnav-inner {
	background-color: #eee;
	border: 1px solid #e0e0e0;
	background-image: -moz-linear-gradient(center top, #fff, 0%, #ddd, 100%);
	background-repeat: repeat-x;
	border-radius: 4px;
	height: 38px;
	width: 100%;
}


.subnav .nav li a {
	color: #0088CC;
}

.subnav .nav li a:hover {
	color: #004488;
}


/* --- Login Form --- */
#login-form-body {
    margin: 1.5em 1.0em;
}

#login-form-body .form-label {
    font-weight: bold;
}