{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}

<div class="row">

<h1>Edit site</h1>

{% for flashMessage in app.session.flashbag.get('message') %}
<div class="alert alert-success">
{{ flashMessage }}
</div>
{% endfor %}


<div class="form">

    <form action="{{ path('UrbantCConvertBundle_site_update', {'id': siteId}) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        
        <input type="submit" value="保存" class="btn-primary" />
    </form>

</div>


{% endblock %}