{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}


<h1>Add rule</h1>

{% if app.session.hasFlash('rule.add.message') %}
<div class="alert alert-success">
{{ app.session.flash('rule.add.message') }}
</div>
{% endif %}


<form action="{{ path('UrbantCConvertBundle_rule_create') }}" method="post" {{ form_enctype(form) }} >
	{{ form_widget(form) }}
	<input type="submit" value="登録" class="btn-primary" />
</form>


{% endblock %}
