{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}


<h1>Edit site</h1>

{% if app.session.hasFlash('rule_edit_message') %}
<div class="alert alert-success">
{{ app.session.flash('rule_edit_message') }}
</div>
{% endif %}


<div class="form">

    <form class="" action="{{ path('UrbantCConvertBundle_rule_update', {'id': ruleId}) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        
        <input type="submit" value="保存" class="btn-primary" />
    </form>

</div>


{% endblock %}