{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}

<div class="row">
    <h1>Edit request</h1>

{% if app.session.hasFlash('request_edit_message') %}
	<div class="alert alert-success">{{ app.session.flash('request_edit_message') }}</div>
{% endif %}


    <form action="{{ path('UrbantCConvertBundle_request_update', {'id': requestId}) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        
        <input type="submit" value="保存" class="btn-primary"/>
    </form>

</div>
{% endblock %}